*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body{
   background-color: black;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
}
@keyframes sun{
    from{
        height: 300px;
        width: 300px;
        background: white;
        border-radius: 50%;
        background: radial-gradient(orange 10%,red 70%);
        box-shadow: 0 0 150px red;
        position: absolute;
        left: -30%;
    }
    to{
        height: 300px;
        width: 300px;
        background: white;
        border-radius: 50%;
        background: radial-gradient(orange 10%,red 70%);
        box-shadow: 0 0 150px red;
        position: absolute;
        left: 105%;
    }
}
#box{
    animation: sun 5s infinite alternate;
}